<div class="navbuttons twelve.columns">
<%= button_to "New Daily Leads", { :action => "index" }, :method => :get %>
<%= button_to "All Available Leads", { :action => "avail_to_buy" }, :method => :get %>
<%= button_to "Purchase History", { :action => "show" }, :method => :get %>
<%= button_to "Checkout", { :action => "stripe" }, :method => :get %>
</div>
<h2>Stripe Checkout</h2>

