<div>
  <section class="header">
      <h2 class="title">Grow your practice with LawLeads! <i class="fa fa-balance-scale" aria-hidden="true"></i>
</h2>
      <div class="start-container">
      <% if current_user != nil %>
        <a id="start-button" class="button button-primary" href="dashboard/index">Get Started</a>
      <% else %>
        <a id="start-button" class="button button-primary" href="signup">Get Started</a>
      <% end %>
      </div>
      <div class="value-props row">
        <div class="four columns value-prop">
          <img class="value-img" src="/assets/time.svg">
          <p>Save time reaching new clients. Let us do it for you.</p>
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="/assets/target.svg">
          <p>Targetted leads allow you to be as selective as you want.</p>
        </div>
        <div class="four columns value-prop">
          <img class="value-img" src="/assets/letter.svg">
          <p>Fast and simple direct mailing. Just a few clicks to get a letter in mail.</p>
        </div>
      </div>
  </section>

    

    <!-- Why use Skeleton -->
    <div class="docs-section" id="intro">
      <h3 class="docs-header">Bacon Ipsum</h3>
      <p>Bacon ipsum dolor amet drumstick shank jowl sirloin ribeye bacon rump porchetta shoulder. Pastrami chicken short ribs pork belly tri-tip cow. Chuck kielbasa swine, beef ribs tri-tip flank prosciutto frankfurter leberkas andouille. Shank andouille kevin kielbasa capicola frankfurter, sirloin bresaola bacon ham hock.</p>

      <p>Salami corned beef tenderloin kielbasa prosciutto tail. Alcatra corned beef ground round capicola tri-tip ham spare ribs ham hock porchetta meatball kielbasa prosciutto fatback bresaola. Bresaola jerky tenderloin pork belly ball tip frankfurter venison swine pancetta tri-tip pork chop beef picanha. Venison turducken spare ribs cow. Salami brisket ball tip bacon.</p>

    </div>
  </div>  

      
